.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 60px;
  position: sticky;
  top: 0;
  background: #0f172a;
}

.navbar ul {
  display: flex;
  gap: 25px;
  list-style: none;
}

.navbar li {
  cursor: pointer;
}
